.App {
  text-align: center;
  background-image: url('https://images.theconversation.com/files/232705/original/file-20180820-30593-1nxanpj.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=496&fit=clip');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1.2rem;
  filter: invert(10%);
  margin-top: -2%;
  margin-bottom: -2%
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
